src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
    <apikit:config name="music-store-system-api-config" api="resource::764d39f8-f6c7-49cf-a410-28e6956c4b58:music-store-system-api:1.0.1:raml:zip:music-store-system-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="music-store-system-api-main">
        <http:listener config-ref="httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="music-store-system-api-config" />
        <error-handler ref="api-main-error-handler">
            
        </error-handler>
    </flow>
    <flow name="music-store-system-api-console">
        <http:listener config-ref="httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="music-store-system-api-config" />
        <error-handler ref="console-error-handler">
            
        </error-handler>
    </flow>
    <flow name="put:\artists\(id):application\json:music-store-system-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1,
  name: "Metallica"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\products\(id):application\json:music-store-system-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1,
  sku: "CD-000001",
  name: "Master of Puppets",
  description: "Seminal album form early 80's",
  active: true,
  image_url: "https://community.mp3tag.de/uploads/default/original/2X/a/acf3edeb055e7b77114f9e393d1edeeda37e50c9.png",
  unit_price: 15.99,
  units_in_stock: 12,
  date_created: "2022-08-12T09:16:43.000Z",
  last_updated: "2022-08-12T09:17:59.161Z",
  artist: {
    id: 1,
    name: "Metallica"
  },
  category: {
    id: 1,
    name: "CD"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\categories\(id):application\json:music-store-system-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1,
  name: "CD"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\products\(id):music-store-system-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Product deleted"]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\artists\(id):music-store-system-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Artist deleted"]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\categories\(id):music-store-system-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Category deleted"]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products\artist\(name):music-store-system-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="name">attributes.uriParams.'name'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: 1,
    sku: "CD-000001",
    name: "Master of Puppets",
    description: "Seminal album form early 80's",
    active: true,
    image_url: "https://community.mp3tag.de/uploads/default/original/2X/a/acf3edeb055e7b77114f9e393d1edeeda37e50c9.png",
    unit_price: 15.99,
    units_in_stock: 12,
    date_created: "2022-08-12T09:16:43.000Z",
    last_updated: "2022-08-12T09:17:59.161Z",
    artist: {
      id: 1,
      name: "Metallica"
    },
    category: {
      id: 1,
      name: "CD"
    }
  }, 
  {
    id: 2,
    sku: "LP-000001",
    name: "Live after Death",
    description: "Famous live album form mid-80's",
    active: true,
    image_url: "https://community.mp3tag.de/uploads/default/original/2X/a/acf3edeb055e7b77114f9e393d1edeeda37e50c9.png",
    unit_price: 35.99,
    units_in_stock: 3,
    date_created: "2022-04-12T09:13:43.000Z",
    last_updated: "2022-08-12T09:17:59.161Z",
    artist: {
      id: 2,
      name: "Iron Maiden"
    },
    category: {
      id: 2,
      name: "LP"
    }
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\artists:music-store-system-api-config">
		<flow-ref doc:name="get-artists" doc:id="c281986f-956e-436b-be71-ffd4a6768c30" name="get-artists"/>
    </flow>
    <flow name="get:\categories:music-store-system-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: 1,
    name: "CD"
  }, 
  {
    id: 2,
    name: "LP"
  }, 
  {
    id: 3,
    name: "DVD"
  }, 
  {
    id: 4,
    name: "BOOK"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products\category\(id):music-store-system-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: 1,
    sku: "CD-000001",
    name: "Master of Puppets",
    description: "Seminal album form early 80's",
    active: true,
    image_url: "https://community.mp3tag.de/uploads/default/original/2X/a/acf3edeb055e7b77114f9e393d1edeeda37e50c9.png",
    unit_price: 15.99,
    units_in_stock: 12,
    date_created: "2022-08-12T09:16:43.000Z",
    last_updated: "2022-08-12T09:17:59.161Z",
    artist: {
      id: 1,
      name: "Metallica"
    },
    category: {
      id: 1,
      name: "CD"
    }
  }, 
  {
    id: 2,
    sku: "LP-000001",
    name: "Live after Death",
    description: "Famous live album form mid-80's",
    active: true,
    image_url: "https://community.mp3tag.de/uploads/default/original/2X/a/acf3edeb055e7b77114f9e393d1edeeda37e50c9.png",
    unit_price: 35.99,
    units_in_stock: 3,
    date_created: "2022-04-12T09:13:43.000Z",
    last_updated: "2022-08-12T09:17:59.161Z",
    artist: {
      id: 2,
      name: "Iron Maiden"
    },
    category: {
      id: 2,
      name: "LP"
    }
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products\category\(name):music-store-system-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="name">attributes.uriParams.'name'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: 1,
    sku: "CD-000001",
    name: "Master of Puppets",
    description: "Seminal album form early 80's",
    active: true,
    image_url: "https://community.mp3tag.de/uploads/default/original/2X/a/acf3edeb055e7b77114f9e393d1edeeda37e50c9.png",
    unit_price: 15.99,
    units_in_stock: 12,
    date_created: "2022-08-12T09:16:43.000Z",
    last_updated: "2022-08-12T09:17:59.161Z",
    artist: {
      id: 1,
      name: "Metallica"
    },
    category: {
      id: 1,
      name: "CD"
    }
  }, 
  {
    id: 2,
    sku: "LP-000001",
    name: "Live after Death",
    description: "Famous live album form mid-80's",
    active: true,
    image_url: "https://community.mp3tag.de/uploads/default/original/2X/a/acf3edeb055e7b77114f9e393d1edeeda37e50c9.png",
    unit_price: 35.99,
    units_in_stock: 3,
    date_created: "2022-04-12T09:13:43.000Z",
    last_updated: "2022-08-12T09:17:59.161Z",
    artist: {
      id: 2,
      name: "Iron Maiden"
    },
    category: {
      id: 2,
      name: "LP"
    }
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products:music-store-system-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: 1,
    sku: "CD-000001",
    name: "Master of Puppets",
    description: "Seminal album form early 80's",
    active: true,
    image_url: "https://community.mp3tag.de/uploads/default/original/2X/a/acf3edeb055e7b77114f9e393d1edeeda37e50c9.png",
    unit_price: 15.99,
    units_in_stock: 12,
    date_created: "2022-08-12T09:16:43.000Z",
    last_updated: "2022-08-12T09:17:59.161Z",
    artist: {
      id: 1,
      name: "Metallica"
    },
    category: {
      id: 1,
      name: "CD"
    }
  }, 
  {
    id: 2,
    sku: "LP-000001",
    name: "Live after Death",
    description: "Famous live album form mid-80's",
    active: true,
    image_url: "https://community.mp3tag.de/uploads/default/original/2X/a/acf3edeb055e7b77114f9e393d1edeeda37e50c9.png",
    unit_price: 35.99,
    units_in_stock: 3,
    date_created: "2022-04-12T09:13:43.000Z",
    last_updated: "2022-08-12T09:17:59.161Z",
    artist: {
      id: 2,
      name: "Iron Maiden"
    },
    category: {
      id: 2,
      name: "LP"
    }
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products\range:music-store-system-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: 1,
    sku: "CD-000001",
    name: "Master of Puppets",
    description: "Seminal album form early 80's",
    active: true,
    image_url: "https://community.mp3tag.de/uploads/default/original/2X/a/acf3edeb055e7b77114f9e393d1edeeda37e50c9.png",
    unit_price: 15.99,
    units_in_stock: 12,
    date_created: "2022-08-12T09:16:43.000Z",
    last_updated: "2022-08-12T09:17:59.161Z",
    artist: {
      id: 1,
      name: "Metallica"
    },
    category: {
      id: 1,
      name: "CD"
    }
  }, 
  {
    id: 2,
    sku: "LP-000001",
    name: "Live after Death",
    description: "Famous live album form mid-80's",
    active: true,
    image_url: "https://community.mp3tag.de/uploads/default/original/2X/a/acf3edeb055e7b77114f9e393d1edeeda37e50c9.png",
    unit_price: 35.99,
    units_in_stock: 3,
    date_created: "2022-04-12T09:13:43.000Z",
    last_updated: "2022-08-12T09:17:59.161Z",
    artist: {
      id: 2,
      name: "Iron Maiden"
    },
    category: {
      id: 2,
      name: "LP"
    }
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products\search\(query):music-store-system-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="query">attributes.uriParams.'query'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: 1,
    sku: "CD-000001",
    name: "Master of Puppets",
    description: "Seminal album form early 80's",
    active: true,
    image_url: "https://community.mp3tag.de/uploads/default/original/2X/a/acf3edeb055e7b77114f9e393d1edeeda37e50c9.png",
    unit_price: 15.99,
    units_in_stock: 12,
    date_created: "2022-08-12T09:16:43.000Z",
    last_updated: "2022-08-12T09:17:59.161Z",
    artist: {
      id: 1,
      name: "Metallica"
    },
    category: {
      id: 1,
      name: "CD"
    }
  }, 
  {
    id: 2,
    sku: "LP-000001",
    name: "Live after Death",
    description: "Famous live album form mid-80's",
    active: true,
    image_url: "https://community.mp3tag.de/uploads/default/original/2X/a/acf3edeb055e7b77114f9e393d1edeeda37e50c9.png",
    unit_price: 35.99,
    units_in_stock: 3,
    date_created: "2022-04-12T09:13:43.000Z",
    last_updated: "2022-08-12T09:17:59.161Z",
    artist: {
      id: 2,
      name: "Iron Maiden"
    },
    category: {
      id: 2,
      name: "LP"
    }
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products\(id):music-store-system-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1,
  sku: "CD-000001",
  name: "Master of Puppets",
  description: "Seminal album form early 80's",
  active: true,
  image_url: "https://community.mp3tag.de/uploads/default/original/2X/a/acf3edeb055e7b77114f9e393d1edeeda37e50c9.png",
  unit_price: 15.99,
  units_in_stock: 12,
  date_created: "2022-08-12T09:16:43.000Z",
  last_updated: "2022-08-12T09:17:59.161Z",
  artist: {
    id: 1,
    name: "Metallica"
  },
  category: {
    id: 1,
    name: "CD"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\categories\(id):music-store-system-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1,
  name: "CD"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\artists\(id):music-store-system-api-config">
		<flow-ref doc:name="get-artist-by-id" doc:id="a8702773-aa95-4928-ad09-4de5087bf920" name="get-artist-by-id"/>
    </flow>
    <flow name="post:\artists:application\json:music-store-system-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1,
  name: "Metallica"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\categories:application\json:music-store-system-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1,
  name: "CD"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\products:application\json:music-store-system-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1,
  sku: "CD-000001",
  name: "Master of Puppets",
  description: "Seminal album form early 80's",
  active: true,
  image_url: "https://community.mp3tag.de/uploads/default/original/2X/a/acf3edeb055e7b77114f9e393d1edeeda37e50c9.png",
  unit_price: 15.99,
  units_in_stock: 12,
  date_created: "2022-08-12T09:16:43.000Z",
  last_updated: "2022-08-12T09:17:59.161Z",
  artist: {
    id: 1,
    name: "Metallica"
  },
  category: {
    id: 1,
    name: "CD"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
